body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    min-height: 100vh;
}
.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.zone-citation {
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #00eeff;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #dd0973;
}
#generateBtn {
    width: 90%;
    background-color: #00eeff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#generateBtn:hover {
    background-color: #00b3cc;
}
.zone-citation {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
   line-height: 1.6;/*espace entre les lignes*/
}
